<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
<br />
<%= label_tag(:occasion_id, 'Select an Occasion: ') %>
<%= select_tag(:occasion_id,options_from_collection_for_select(Occasion.all, :id, :name)) %>

